= provide(:title, "Home")
%body
  %header.w3-container.w3-theme.w3-padding
    .w3-center
      %h4.w3-animate-left WELCOME TO NATHANIELPAUTZKE.COM
      %h1.w3-xxxlarge.w3-animate-right MORE THEN JUST PROGRAMMING
    .w3-row-padding.w3-center.w3-margin-top
      .w3-third
        .w3-card.w3-container{:style => "min-height:410px"}
          %h3 Photography
          %br/
          %i.fa.fa-camera-retro.w3-margin-bottom.w3-text-theme{:style => "font-size:120px"}
          %p Meaningful Sessions
          %p High Quality
          %p Reasonably Priced
      .w3-third
        .w3-card.w3-container{:style => "min-height:410px"}
          %h3 Software Engineer
          %br/
          %i.fa.fa-database.w3-margin-bottom.w3-text-theme{:style => "font-size:120px"}
          %p Language Driven
          %p Knows Many Frameworks
          %p Passionate
      .w3-third
        .w3-card.w3-container{:style => "min-height:410px"}
          %h3 Creative Thinker
          %br/
          %i.fa.fa-lightbulb-o.w3-margin-bottom.w3-text-theme{:style => "font-size:120px"}
          %p Idea Driven
          %p Innovative
          %p Quick Learner
    .w3-container.w3-black.w3-center.w3-opacity.w3-padding-32.w3-margin-top
      %h1.w3-margin.w3-xlarge
        %i.fa.fa-quote-left
          Computer science is no more about computers than astronomy is about telescopes.
        %i.fa.fa-quote-right
        %br
          Edsger Dijkstra
    .w3-half.w3-blue-grey.w3-container.w3-margin-top{:style => "height:550px"}
      .w3-padding-64.w3-center
        %h1 About Me
        %i.fa.fa-user-circle-o.w3-margin-bottom.w3-text-theme{:style => "font-size:50px"}
        .w3-left-align.w3-padding-large
          %p Software Engineer and photographer from Shorewood Minnesota. My hobbies include playing music and watching movies.
          %p Outside of work I enjoy writing and reading. One thing you should know about me is that I love the winter season.
    .w3-half.w3-container.w3-margin-top{:style => "height:550px;background-color:#D3D3D3D3"}
      .w3-padding-64.w3-center
        %h1 Mission
        %i.fa.fa-balance-scale.w3-margin-bottom.w3-text-theme{:style => "font-size:50px"}
        .w3-left-align.w3-padding-large
          %p My mission is to focus on quality and innovation in any aspect of my life. I enjoy learning and strive to succeed as the little fish in the big pond.
          %p I operate with integrity and intention with a goal driven attitude.
