= provide(:title, "Projects")

.w3-container
  .w3-card-4{:style => "max-width:1400px"}
    %header.w3-container.w3-light-grey
      %h3 NathanielPautzke.com
    .w3-container
      %p Ruby on Rails Project
      %hr/
      %img.w3-left.w3-margin-right{:alt => "Avatar", :src => image_path("Photography_small.png"), :style => "width:100px"}/
      %p
        I created a dynamic webpage that consists of a few aspects of my life. A resume space, photography section,
        and projects overview. The project was developed on a Linux box using the RubyMine IDE. Purchasing my own domain, I was able to
        map my Heroku DNS to my custom domain name that also includes security certificates.  Dev tracking software and Git was used
        to develop the website and push to a production server. This app is hosted on nathanielpautzke.com and if you like my
        workd head over to my
        = link_to "resume", resume_path, :style => "color: blue"
        page.
