@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #D3D3D3D3;

@media (max-width:1000px) {

}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Debug window */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  @include box_sizing
}

/* universal */

body {
  padding-top: 60px;
  font-family: "sans-serif";
}

a:hover {
  text-decoration: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */


#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 4px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.nav-font-large {
  font-size: large;
}

#nav_bar {
  font-family: sans-serif;
  text-decoration: none;
  color: $light-grey;
}

.w3-bar-item, .w3-button {
  a:hover {
    text-decoration: none;
    color: $light-grey;
  }

}

#mySidebar {
  a:hover {
    text-decoration: none;
  }
}

  /* footer */

.footer {
  background-color: $light-grey;

}

/* Resume */

.github_image {
  img {
    padding-right: 8px;
  }
}

/* About Model */

#about_modal {
  li a {
    text-decoration: none;
  }
}

/* Homepage about me/mission */

#mission {
  @media (max-width: 399px){
    height: auto;
  }
  @media (min-width: 400px){
    height: 600px;
  }

}