<%= provide(:title, "Wedding") %>

<h2>Weddings</h2>
<hr/>
<div id="myGrid" class="w3-container w3-center">
  <!-- Photo Grid -->
  <div >
    <% @photos.each do |images| %>
      <div>
        <%= image_tag images.link, class: "grid-item" %>
      </div>
    <% end %>
  </div>
</div>













