<div class="w3-modal-content w3-card-2 w3-animate-top">
  <header class="w3-container w3-theme-l1 w3-black">
        <span onclick="document.getElementById('id01').style.display='none';w3_open()"
              class="w3-button w3-display-topright">×</span>
    <h4>ABOUT</h4>
  </header>
  <div id="about_modal" class="w3-padding">
    <h4>Website Specs:</h4>
    <ul>
      <li><a href="https://rubyonrails.org/" target="_blank">Ruby: 2.5.x</a></li>
      <li><a href="https://rubyonrails.org/" target="_blank">Rails: 5.2.x</a></li>
    </ul>
    <h4>Layout Libraries</h4>
    <ul>
      <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
      <li><a href="https://fontawesome.com/" target="_blank">Font-Awesome</a></li>
      <li><a href="https://www.w3schools.com/default.asp" target="_blank">W3-Schools</a></li>
    </ul>
  </div>
  <footer class="w3-container w3-theme-l1 w3-black">
    <p>Welcome to NathanielPautzke.com</p>
  </footer>
</div>